.message{ "data-message-id": "#{message.id}"}
  .message_user-name
    = message.user.name
  .message__day
    = simple_time(message.created_at)
  .message_center-box
  .message_message
    - if message.body.present?
      = message.body
    = image_tag message.image.url, class: 'message__image' if message.image.present?
  .message_bottom-box
