.contents
  = render "side-bar"
  .right-contents
    .header
      .header_top-box
      .header_group-name
        = @group.name
      .header_edit-button
        = link_to "Edit", edit_group_path(@group)
      .header_center-box
      .header_member-name
        Member：
        = @users.pluck(:name).join(", ")
    .main
      .main_top-box
      = render @messages
    .form
      = render "form", {group: @group, message: @message}
