.contents
  = render partial: "side-bar"
  .right-contents
    .header
      .header_top-box
      .header_group-name sampleグループ
      .header_edit-button Edit
      .header_center-box
      .header_member-name Members:sample,sample
    .main
      .main_top-box
      = render partial: "message-unity"
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'form_textbox', placeholder: 'type a message'
        = f.label :image, class: 'form_textbox_icon' do
          = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form_send-button'
